<!-- product-card.liquid -->
<div class="product-card" data-slick="slide">
  <form action="/cart/add.js" method="post" class="product-card__form">
    <!-- Hidden input for variant ID -->
    <input type="hidden" name="id" value="{{ product_varient_id }}">

    <div class="product-card__actions">
      <div class="product-card__actions--image">
        <a href="{{ product_card_url }}">
          <img
            src="{{ product_card_image | img_url: 'master' }}"
            alt="{{ product_card_title }}"
            width="748"
            height="610"
          >
        </a>
      </div>
      <button type="submit" class="product-card__actions--cart">Add to Cart</button>

      <div class="product-card__actions-group">
        <button class="product-card__action product-card__action--favorite">
          <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.3841 2.63321L12.0114 3.01156L11.6387 2.63214C10.3512 1.34547 8.61671 0.628354 6.8125 0.636792C5.00828 0.645231 3.28033 1.37855 2.00454 2.6772C0.72876 3.97586 0.00836257 5.7348 7.2347e-05 7.57136C-0.00821787 9.40792 0.69627 11.1735 1.96028 12.4841L2.33301 12.8635L12.0114 22.7154L21.6898 12.8635L22.0625 12.4841C23.3165 11.1715 24.0124 9.40917 23.9998 7.57831C23.9872 5.74746 23.2671 3.99525 21.9952 2.70068C20.7233 1.40611 19.0019 0.673257 17.2033 0.660631C15.4046 0.648005 13.6735 1.35662 12.3841 2.63321Z" fill="#303030"/>
          </svg>
        </button>
        <button class="product-card__action product-card__action--share">
          <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_13_3119)">
            <path d="M18.5074 17.0498C17.3575 17.0498 16.3214 17.5482 15.6024 18.3409L9.13493 14.321C9.3076 13.8774 9.40337 13.3956 9.40337 12.8915C9.40337 12.3873 9.3076 11.9055 9.13493 11.462L15.6024 7.44194C16.3214 8.23468 17.3575 8.73322 18.5074 8.73322C20.6735 8.73322 22.4357 6.96471 22.4357 4.79083C22.4357 2.61695 20.6735 0.848633 18.5074 0.848633C16.3412 0.848633 14.579 2.61714 14.579 4.79102C14.579 5.29507 14.675 5.77689 14.8474 6.22048L8.38017 10.2404C7.66112 9.44767 6.62511 8.94913 5.47521 8.94913C3.30908 8.94913 1.54688 10.7178 1.54688 12.8915C1.54688 15.0654 3.30908 16.8339 5.47521 16.8339C6.62511 16.8339 7.66112 16.3355 8.38017 15.5426L14.8474 19.5625C14.675 20.0061 14.579 20.488 14.579 20.9922C14.579 23.1659 16.3412 24.9344 18.5074 24.9344C20.6735 24.9344 22.4357 23.1659 22.4357 20.9922C22.4357 18.8183 20.6735 17.0498 18.5074 17.0498ZM16.0114 4.79102C16.0114 3.40988 17.1311 2.28619 18.5074 2.28619C19.8836 2.28619 21.0033 3.40988 21.0033 4.79102C21.0033 6.17215 19.8836 7.29585 18.5074 7.29585C17.1311 7.29585 16.0114 6.17215 16.0114 4.79102ZM5.47521 15.3963C4.09881 15.3963 2.97912 14.2727 2.97912 12.8915C2.97912 11.5104 4.09881 10.3867 5.47521 10.3867C6.85143 10.3867 7.97093 11.5104 7.97093 12.8915C7.97093 14.2727 6.85143 15.3963 5.47521 15.3963ZM16.0114 20.992C16.0114 19.6109 17.1311 18.4872 18.5074 18.4872C19.8836 18.4872 21.0033 19.6109 21.0033 20.992C21.0033 22.3732 19.8836 23.4968 18.5074 23.4968C17.1311 23.4968 16.0114 22.3732 16.0114 20.992Z" fill="#303030"/>
            </g>
            <defs>
            <clipPath id="clip0_13_3119">
            <rect width="24" height="24.0858" fill="white" transform="translate(0 0.848633)"/>
            </clipPath>
            </defs>
          </svg>
        </button>
        <button class="product-card__action product-card__action--zoom">
          <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.25 15.1162V21.8903H9" stroke="#303030" stroke-width="1.1" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M15 9.0947L21 3.07324" stroke="#303030" stroke-width="1.1" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M15 2.32031H21.75V9.09445" stroke="#303030" stroke-width="1.1" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M8 16.1201L3 21.138" stroke="#303030" stroke-width="1.1" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
    </div>

    <div class="product-card__details">
      <h3 class="product-card__category">{{ product_card_category }}</h3>
      <h2 class="product-card__title">{{ product_card_title }}</h2>
      <p class="product-card__price">{{ product_card_price | money }}</p>
    </div>
  </form>
</div>
