<html>
  <head>
    <link href="{{ 'theme.css' | asset_url }}" rel="stylesheet">
    {{ content_for_header }}
  </head>
  <body>
    {% sections 'header-group' %}
    <main id="main" role="main">
      {{ content_for_layout }}
    </main>
    {% sections 'footer-group' %}
    <script src="{{ 'jquery.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
  </body>
</html>
