<section class="featured-section" id="featured-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="textbox">
          <h1>{{ section.settings.featured_title }}</h1>
          <p>{{ section.settings.featured_text }}</p>
          {% render 'button', button_text: 'Shop Now', button_link: '#', button_class: 'button--primary' %}
        </div>
      </div>
      <div class="col-12 col-lg-6 featured-section__slider-wrapper">
        <div class="featured-section__circle-wrapper animation--rotate360">
          <svg
            class="featured-section__circle featured-section__circle--big circle animation--shinkGrow"
            viewBox="0 0 100 100"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="50" cy="50" r="50"  fill="#333332"/>
          </svg>
          <svg
            class="featured-section__circle featured-section__circle--small circle animation--growShrink"
            viewBox="0 0 100 100"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="50" cy="50" r="50"  fill="#B52F2B"/>
          </svg>
        </div>
        <div class="featured-section__slider featured-swiper--init">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              {% if section.settings.featured_image != blank %}
                <img
                  src="{{ section.settings.featured_image | img_url: 'master' }}"
                  alt="{{ section.settings.featured_title }}"
                  width="835"
                  height="507"
                >
              {% else %}
                <img src="https://placehold.co/835x507" alt="Placeholder image" width="835" height="507">
              {% endif %}
            </div>
            <div class="swiper-slide">
              {% if section.settings.featured_image != blank %}
                <img
                  src="{{ section.settings.featured_image | img_url: 'master' }}"
                  alt="{{ section.settings.featured_title }}"
                  width="835"
                  height="507"
                >
              {% else %}
                <img src="https://placehold.co/835x507" alt="Placeholder image" width="835" height="507">
              {% endif %}
            </div>
            <div class="swiper-slide">
              {% if section.settings.featured_image != blank %}
                <img
                  src="{{ section.settings.featured_image | img_url: 'master' }}"
                  alt="{{ section.settings.featured_title }}"
                  width="835"
                  height="507"
                >
              {% else %}
                <img src="https://placehold.co/835x507" alt="Placeholder image" width="835" height="507">
              {% endif %}
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Featured section",
  "settings": [
    {
      "type": "text",
      "id": "featured_title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "featured_text",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "featured_image",
      "label": "Image"
    }
  ]
}
{% endschema %}

{% javascript %}
  document.addEventListener('DOMContentLoaded', function () {
    const swiper = new Swiper('.featured-swiper--init', {
      loop: true,
      autoplay: {
        delay: 3000,
      },
      effect: 'fade',
      fadeEffect: {
        crossFade: true,
      },
      pagination: {
        el: '.swiper-pagination',
        type: 'bullets',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      keyboard: {
        enabled: true, // Enable keyboard control
        onlyInViewport: true, // Enable keyboard control only when the slider is in viewport
      },
    });
  });
{% endjavascript %}
